body{
    overflow-y: hidden;
    overflow-x: hidden; 
}

.search-input-width{
    width:60px !important;
}

.input-text-center{
    text-align: center;
}

.page-box{
    position: absolute;
    left: 50%;
    top:1%;
    z-index: 500;
    transform: translate(-50%, 0);
}

.navbar-top{
    z-index: 490;
}





