
/*手機板*/

.turn-container{
	position:absolute;
	top:50%;
	left:50%;
	width:483px;
	height:700px;
	margin:auto;
}

.magazine{
	width:483px;
	height:700px;
	left:-242px;
	top:-320px;
}

.page{
	width:483px;
	height:700px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
