
/*手機板*/

.turn-container{
	position:absolute;
	top:50%;
	left:50%;
	width:400px;
	height:580px;
	margin:auto;
}

.magazine{
	width:400px;
	height:580px;
	left:-200px;
	top:-260px;
}

.page{
	width:400px;
	height:580px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
