
/*手機板*/

.turn-container{
	position:absolute;
	top:50%;
	left:50%;
	width:494px;
	height:716px;
	margin:auto;
}

.magazine{
	width:494px;
	height:716px;
	left:-247px;
	top:-328px;
}

.page{
	width:494px;
	height:716px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
